body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: flex-start;
    position: relative; /* Añadido para permitir el posicionamiento absoluto de los hijos */
}

.flag {
    display: flex;
    flex-direction: column;
    position: relative; /* Permanece en su lugar */
}

.horizontal-flag {
    display: flex;
    flex-direction: row;
    position: absolute; /* Permite posicionar la bandera horizontal */
    left: 200px; /* Mueve la bandera horizontal 200px a la derecha */
    top: 0; /* Mantiene la bandera horizontal al mismo nivel que la vertical */
}

.box {
    width: 100px;
    height: 100px;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.space {
    width: 50px; /* Ajusta el tamaño del espacio a tu gusto */
}
