body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: flex-start;
}

.flag {
    display: flex;
    flex-direction: column;
    position: relative;
}

.horizontal-flag {
    display: flex;
    flex-direction: row;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.space {
    width: 50px; /* Ajusta el tamaño del espacio a tu gusto */
}
