body {
<<<<<<< HEAD
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.box {
    flex: 1;
    height: 33.33%;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}
=======
    margin: 0;
}
>>>>>>> 40ab8a6d75e67cf6f13fa71a8b0df633a65ccc71
