<%- include("./partials/header.ejs"); -%>
    <img src="../images/StarLion.png" alt="lion brewery" />
    <h1>Welcome to my landing page</h1>

    <form id="userForm" action="/login" method="GET">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <!-- Botón para enviar con el método GET (inseguro) -->
        <button type="submit" onclick="submitForm('GET')">Submit Unsecured (GET)</button>
        <!-- Botón para enviar con el método POST (seguro) -->
        <button type="submit" onclick="submitForm('POST')">Submit Secured (POST)</button>
      </form>
      
      <script>
        // Esta función cambiará el método del formulario
        function submitForm(method) {
          const form = document.getElementById('userForm'); // seleccionamos el formulario
          form.method = method; // cambiamos el método según el botón que el usuario presione
        }
      </script>

<%- include("./partials/footer.ejs"); -%>
