
<%- include("partials/header"); %>
<form action="/submit" method="post">
  <h2>Submit a Secret</h2>
  <textarea name="secret" placeholder="What's your secret?" required></textarea>
  <button type="submit">Submit</button>
</form>
<%- include("partials/footer"); %>
